# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

# old skool
.svn

# osx noise
.DS_Store
profile

# vim noise
*~
*.swp

# AppCode noise
.idea/


# Help
Readme.html
Release notes.html

# Release steps
Release TODO.md